<% if @message %>
  <p><%= @message %></p>
<% end %>

<% if current_user.admin %>
  <h3>ADMIN</h3>
<% end %>

<h3>Welcome, <%= @user.name %>!</h3>
<p>Mood: <%= @user.mood %></p>
<p>Height: <%= @user.height %></p>
<p>Tickets: <%= @user.tickets %></p>

<%= link_to 'See attractions', attractions_path %><br>
