<% @attractions.each do |attraction| %>
  <ul>
    <% if current_user.admin %>
      <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %> - <%= attraction.tickets %> tickets</li>
    <% else %>
      <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %> - <%= attraction.tickets %> tickets</li>
    <% end %>
  </ul>
<% end %>

<br /><br />
<%= link_to 'New Attraction', new_attraction_path %>
